* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* nav styles */

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}

nav > div > ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

nav > div > ul > li {
    margin-right: 15px;
}

nav > div > ul > li > a {
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-weight: 400;
    font-size: small;
}

nav > div > ul > li > a:hover {
    text-decoration: underline;
}

.nav_button {
    padding: 8px 13px;
    background-color: #4285f4;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 600;
}

.apps-icon {
    display: grid;
    grid-template-columns: repeat(3, 4px);
    grid-template-rows: repeat(3, 4px);
    grid-gap: 2px;
    max-height: 15px;
    padding: 0 10px 0 10px;
}

.item {
    background-color: gray;
}

.item:hover {
    background-color: rgb(75, 75, 75);
}

/* main styles */

main > img {
    height: 92px;
    width: 272px;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30%;
}

.search_bar {
    width: 60%;
    padding: 12px;
    border-radius: 30px;
    max-width: 500px;
    min-width: 400px;
    border-style: solid;
    border-color: rgb(201, 201, 201);
    border-width: 0.5px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.search_bar:hover {
    box-shadow: 0 1px 7px rgb(211, 211, 211);
    border: none;
}

.search_bar > img{
    width: 20px;
    height: 20px;
}

.search_bar > input{
    flex: 1;
    border: none;
    font-size: medium;
    padding-left: 15px;
    outline-style: none;
}

.search_buttons > button{
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: medium;
    color: gray;
}

/* footer styles */

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f2f2f2;
}

@media (max-width: 800px){
    footer {
        flex-direction: column-reverse;
        justify-items: center;
    }
    footer > div {
        margin-right: auto;
        margin-left: auto;
    }
    .top-div {
        padding-bottom: 20px;
    }
}

footer > div > ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

footer > div > ul > li {
    margin-right: 20px;
}

footer > div > ul > li > a {
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-weight: 400;
    font-size: 90%;
}

footer > div > ul > li > a:hover {
    text-decoration: underline;
}